.header {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo-block {
		display: flex;
		align-items: center;
		img {
			width: 130px;
		}
		
	}
&__search-block {
	display: flex;
	align-items: center;
	background-color: $backgroundblockcolor;
	border-radius: 40px;
	padding: 10px 20px;
	height: $input-search-height;
}
&__search_icon {
	margin: 5px;
	width: 30px;
}
&__search_input {
	background: none;
	outline: none;
	border: none;

}

	&__logo-title {
		font-weight: bold;
		font-size: 3.6rem;
		line-height: 4.2rem;
		color: $main-text-color;
		margin-left: 20px;
	}
}