html {
  font-size: 10px;
  line-height: 10px;
  color: black; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #212325; }
  a:hover {
    text-decoration: underline; }

.header-navigation {
  background-color: #B6D321; }
  .header-navigation__link {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: black; }
    .header-navigation__link:not(:last-child) {
      margin-right: 30px; }
  .header-navigation__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 0; }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__logo-block {
  display: flex;
  align-items: center; }
  .header__logo-block img {
    width: 130px; }

.header__search-block {
  display: flex;
  align-items: center;
  background-color: #cbcbcb;
  border-radius: 40px;
  padding: 10px 20px;
  height: 40px; }

.header__search_icon {
  margin: 5px;
  width: 30px; }

.header__search_input {
  background: none;
  outline: none;
  border: none; }

.header__logo-title {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.2rem;
  color: black;
  margin-left: 20px; }

.callback-block {
  display: block;
  align-items: center; }
  .callback-block__phone-number {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: black;
    margin-right: 40px; }
  .callback-block__callback-button {
    border-color: #212325 !important;
    background: #d0d8d27b; }

.default-button {
  cursor: pointer;
  border-radius: 40px;
  color: black;
  padding: 12px 25px;
  border: 2px solid;
  font-size: 1.4rem;
  line-height: 1.6rem; }
  .default-button:hover {
    background-color: #7CB342;
    color: #ffffff; }

.product-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  align-items: center; }
  .product-card__img {
    width: 80%;
    height: 160px;
    object-fit: contain; }
  .product-card__title {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    color: black; }
  .product-card__price {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
    color: black; }
  .product-card__buy-button {
    background: #F9F9FA;
    color: black; }
  .product-card__price {
    margin-bottom: 20px; }

.section-title {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: black; }

.products-layout {
  display: flex;
  justify-content: space-between; }
  .products-layout > *:not(:last-child) {
    margin-right: 30px; }

.special-products {
  background-color: #d0d8d27b;
  padding-bottom: 2rem;
  padding-top: 0.1rem; }
  .special-products__title {
    margin-bottom: 1em; }

.recently-watched-products {
  background-color: #F9F9FA; }
  .recently-watched-products__wrapper {
    padding: 10px 0; }
  .recently-watched-products__title {
    margin-bottom: 40px; }

.super-product {
  background-image: url("../assets/images/massage-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black; }
  .super-product__main-info {
    width: max-width;
    display: flex;
    flex-direction: column; }
  .super-product__wrapper {
    display: flex;
    padding: 215px 0; }
  .super-product__title {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 5.6rem; }
  .super-product__subtitle {
    font-size: 1.4rem;
    line-height: 2.0rem; }
  .super-product__button {
    background-color: transparent;
    border-color: #212325;
    max-width: 17rem; }
  .super-product__title, .super-product__subtitle {
    margin-bottom: 55px; }
