html {
  font-size: 10px;
  line-height: 10px;
  color: black; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #212325; }
  a:hover {
    text-decoration: underline; }

.header-navigation {
  background-color: #B6D321; }
  .header-navigation__link {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: black; }
    .header-navigation__link:not(:last-child) {
      margin-right: 30px; }
  .header-navigation__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 0; }

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__logo-block {
  display: flex;
  align-items: center; }
  .header__logo-block img {
    width: 130px; }

.header__search-block {
  display: flex;
  align-items: center;
  background-color: #cbcbcb;
  border-radius: 40px;
  padding: 10px 20px;
  height: 40px; }

.header__search_icon {
  margin: 5px;
  width: 30px; }

.header__search_input {
  background: none;
  outline: none;
  border: none; }

.header__logo-title {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 4.2rem;
  color: black;
  margin-left: 20px; }

.callback-block {
  display: block;
  align-items: center; }
  .callback-block__phone-number {
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: black;
    margin-right: 40px; }
  .callback-block__callback-button {
    border-color: #212325 !important;
    background: #F9F9FA; }

.default-button {
  cursor: pointer;
  border-radius: 40px;
  color: black;
  padding: 12px 25px;
  border: 2px solid;
  font-size: 1.4rem;
  line-height: 1.6rem; }
  .default-button:hover {
    background-color: #7CB342;
    color: #F9F9FA; }
