html {
	font-size: 10px;
	line-height: 10px;
	color: $main-text-color;
}

body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $color1;
	&:hover {
		text-decoration: underline;
		
	}
}

