$color1: #212325;
$color2: #d0d8d27b;
$color3: #7CB342;
$color4: #B6D321;
$searchcolor: #B6D321;
$backgroundblockcolor: #cbcbcb;
$input-search-height: 40px;
$card-color: white;

$main-text-color: black;
$menu-text-color: white;
$link-color: black;
$button-color: #F9F9FA;
$button-text-hover-color: #ffffff;
$recently-watched-products-background: #F9F9FA;
