$color1: #212325;
$color2: #F9F9FA;
$color3: #7CB342;
$color4: #B6D321;
$searchcolor: #B6D321;
$backgroundblockcolor: #cbcbcb;
$input-search-height: 40px;

$main-text-color: black;
$menu-text-color: white;
$link-color: black;

